---

---

<div
  class="dark text-muted text-sm bg-black dark:bg-transparent dark:border-b dark:border-slate-800 dark:text-slate-400 hidden md:flex gap-1 overflow-hidden px-3 py-2 relative text-ellipsis whitespace-nowrap"
>
  <span
    class="dark:bg-slate-700 bg-white/40 dark:text-slate-300 font-semibold px-1 py-0.5 text-xs mr-0.5 rtl:mr-0 rtl:ml-0.5 inline-block"
    >Próximo:</span
  >
  <a href="https://hackbo.org" class="text-muted hover:underline dark:text-slate-400 font-medium"
    > En unos cuantos dias anunciaremos fechas de talleres y charlas en HackBo. 
  </a>
</div>
